In [8]:
import os
import sys
import hashlib
import xmlrpc.client
import sqlite3
import tkinter as tk
import getpass
import tkinter.ttk as ttk
from tkinter.messagebox import showinfo,showerror,showwarning
import subprocess
from subprocess import Popen,PIPE
import datetime
import pickle
import time

In [2]:
today=datetime.datetime.today()

In [5]:
today.isoformat()

'2016-04-16T17:03:59.408469'

In [7]:
today.isoweekday()

6

In [9]:
'a'+False

TypeError: Can't convert 'bool' object to str implicitly

In [ ]:
def __python_find():
    """
    Dynamic find the python form can be used
    python
    python3
    python3.1-python3.7
    """
    py_ver=list()
    
    py='python'
    if os.system(py+' --version')==0:#return 0 for ok,1 for error(confusing)
        py_ver.append(py)
        
    py3='python3'
    if os.system(py3+' --version')==0:
        py_ver.append(py3)
    for i in range(7):
        one=py3+'.'+str(i+1)
        if os.system(one+' --version')==0:
            py_ver.append(one)

    return py_ver

In [ ]:
__python_find()

In [3]:
def mac():
    return tk._default_root.tk.call("tk", "windowingsystem") == "aqua"

def windows():
    return tk._default_root.tk.call("tk", "windowingsystem") == "win32"

def x11():
    return tk._default_root.tk.call("tk", "windowingsystem") == "x11"

In [ ]:
def font_families():
    """Returns all the system-specific font families, plus the three
    guaranteed built-in font families"""
    return sorted(set(tkfont.families()) |
            {"Helvetica", "Times", "Courier"})

In [ ]:
c=hashlib.sha512('1234'.encode())

In [ ]:
c.hexdigest()

In [ ]:
c.update('abcd'.encode())

In [ ]:
hashlib.sha512(c)

In [ ]:
def add(x,y):
    if y==0:return x
    else:
        sum=(x^y)
        carry=(x&y)<<1
        return add(sum,carry)

In [ ]:
raise Exception('is not valid alias name')

In [ ]:
import sqlite3

In [11]:
class AlreadyExists(Exception):
    pass

def init_db():

    conn=sqlite3.connect('bank.db')
    cur=conn.cursor()
    def create_db(conn):
        '''
        table account form are as follow(in MySQL form):
        
            account_id char(19) primary key
            passwd varchar(30) not null
            user_name varchar(30) not null
            user_id char(18) unique
            amount decimal default 0
            currency varchar(20) not null
            store_type varchar(20) default 'current_account')
            bank varchar(20) not null 所属银行
        '''
        try:
            with conn:
                conn.execute('''create table account(account_id text primary key,
                                                            passwd text,
                                                            user_name text not null,
                                                            user_id text unique,
                                                            amount real default 0,
                                                            currency text not null,
                                                            store_type text default 'currentt',
                                                            bank text not null);''')
            
        except sqlite3.OperationalError as err:
            raise AlreadyExists(err)
    
    def insert_data(conn):
        Users=[("b123456789123456789","123456","朱汉民","632875927425678921",10e8,"rmb","current_account","中国银行"),
              ("zh12345678912345678","654321","马云","143678142343647654",10e10,"rmb","fixed_102","超弦理论探索银行"),
              ("us123456789123456789","zxcvbn","Durex","171649872365873249",92345e3,"rmb","current","光大银行")]
        try:
            with conn:
                conn.executemany('insert into account values(?,?,?,?,?,?,?,?)',Users)
        except sqlite3.IntegrityError as err:
            raise AlreadyExists(err)
            
    try:            
        create_db(conn)
    except AlreadyExists as err:
        print(err)
        
    try:            
        insert_data(conn)
    except AlreadyExists as err:
        print(err)
   
    conn.commit()
    conn.close()

In [12]:
init_db()

In [6]:
conn=sqlite3.connect('bank.db')
conn.execute('drop table account')

In [35]:
conn=sqlite3.connect('bank.db')
cur=conn.cursor()

In [37]:
help(conn.commit)

Help on built-in function commit:

commit(...) method of sqlite3.Connection instance
    Commit the current transaction.

In [53]:
cur.execute('select * from account')
conn.commit()

In [58]:
cur.fetchmany()

[]

In [60]:
id_from='b123456789123456789'

In [62]:
cur.execute('select amount from account where account_id = ? ',(id_from,))

In [32]:
account_id='b123456789123456789'
cur.execute('select amount from account where account_id = ? ',(account_id,))
cur.fetchone()[0]

64500.0

In [34]:
conn.cl

In [30]:
conn.execute('update account set amount=? where account_id=? ',(6.45e4,account_id))

In [19]:
cur.execute("table_info(tablename)")
cur.fetchall()

OperationalError: near "table_info": syntax error

In [63]:
cur.fetchone()

(999982000.0,)

In [5]:
cur.execute('''insert into account(account_id,user_name,user_id,currency,store_type) 
                            values("b631234656123457891","朱汉民","632875927425678921","rmb","current_account")''')

NameError: name 'cur' is not defined

In [41]:
isinstance(100,(float,int))

True

In [3]:
pickle.load(open('b123456789123456789.bk.p','rb'))

('b123456789123456789', 1000003490.0)

In [12]:
time.sleep(0)

In [17]:
round.__doc__.__repr__()

"'round(number[, ndigits]) -> number\\n\\nRound a number to a given precision in decimal digits (default 0 digits).\\nThis returns an int when called with one argument, otherwise the\\nsame type as the number. ndigits may be negative.'"

In [21]:
1==1 and print('hi')

hi

In [23]:
cur.execute('aaa')

OperationalError: near "aaa": syntax error

In [26]:
e=Exception('hi\n\nboy')

In [28]:
e.args[0]

'hi\n\nboy'

In [29]:
print(e)

hi

boy

In [39]:
not None

True